* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button {
    border: none;
    outline: none;
    padding: 16px 27px;
    background-color: turquoise;
    border-radius: 27px;
    color: white;
    cursor: pointer;
}

img {
    width: 100%;
}


.head-container{
    padding: 15px;
}

.head-container h1{
    margin: 10px 0px;
}

.head-container p{
    margin: 10px 0px;
}

.container{
    border: 1px solid green;
    display: grid;
    place-items: center;
}

.container__content {
    padding: 20px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
}

/* Card */

.card {
    /* border: 1px solid red; */
    width: 100%;
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 100px 100px 80px rgba(0, 0, 0, 0.07);
}

.card div {
    padding: 10px;
}

.card div h1 {
    margin: 20px 0px;
}

.second {
    font-size: 200px;
}

.second p:nth-child(1){
    /* font-size: 16px; */
}

.second p:nth-child(2){
    font-size: 1em;
}

.second p:nth-child(3){
    font-size: 2rem;
}

@media only screen and (max-width: 620px){
    button {
        border: none;
        outline: none;
        padding: 16px 27px;
        background-color: turquoise;
        border-radius: 27px;
        color: white;
        cursor: pointer;
    }
    
    img {
        width: 100%;
    }
    
    
    .head-container{
        padding: 15px;
    }
    
    .head-container h1{
        margin: 10px 0px;
    }
    
    .head-container p{
        margin: 10px 0px;
    }
    
    .container__content {
        padding: 20px;
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: 1fr ;
        gap: 20px;
    }
    
    /* Card */
    
    .card {
        /* border: 1px solid red; */
        width: 100%;
        box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 100px 100px 80px rgba(0, 0, 0, 0.07);
    }
    
    .card div {
        padding: 10px;
    }
    
    .card div h1 {
        margin: 20px 0px;
    }
    
}

@media only screen and (min-width: 620px){
    .container__content {
        padding: 20px;
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 20px;
    }
    
}

@media only screen and (min-width: 820px){
    .container__content {
        padding: 20px;
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 20px;
    }
    
}

@media only screen and (min-width: 880px){
    .container__content {
        max-width:  880px;
    }
    .head-container {
        border: 1px solid red;
        max-width:  880px;
        margin: 0 auto;
    }

    .grid1, .grid5{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .grid3{
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 4;
    }
}