*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

#hero-section{
    background: linear-gradient(to bottom, #3144AA , #3078C4);
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    position: relative;
    z-index: 1000;
}

header nav li a{
    color: white;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header img{
    /* border: 1px solid red; */
}

header nav li{
    /* border: 1px solid red; */
    display: inline;
    margin: 19px;
}

header nav li:last-child > a{
    background: white;
    color: #3144AA ;
    padding: 15px;
    font-weight: 500;
    border-radius: 25px;
}


/* Hero Container */

.hero-section__container{
    /* border: 1px solid red; */
    display: flex;
    padding: 70px 150px;
}

.hero-section__container--left{
    width: 60%;
    z-index: 1;
    /* border: 1px solid red; */
}

.hero-section__container--left small{
    color: white;
    opacity: 0.5;
    font-size: 11px;
    
}

.hero-section__container--left small::before{
    content: "";
    margin-right: 10px;
    border-left: 2px solid white;
    opacity: 0.5;
    font-size: 11px;
}

.hero-section__container--left h1{
    color: white;
    font-size: 11px;
    font-size: 45px;
    line-height: 55px;
    margin: 20px 0px;
}
.hero-section__container--left p{
    color: white;
    opacity: 0.8;
    font-size: 11px;
    width: 80%;
    letter-spacing: 1.5px;
}
.hero-section__container--left button{
    z-index: 10;
    color: #3E3E3E;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 25px;
    padding: 15px 15px;
    border-radius: 25px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 170px;
    /* border: 1px solid red; */
}

.hero-section__container--right{
    width: 40%;
    /* position: relative; */
}

.hero-section__container--right img{
    position: absolute;
    width: 390px;
    height: 390px;
    /* border: 1px solid red; */
}

/* pattern */

.pattern_container .pattern{
    position: absolute;
    z-index: 0;
}

.pattern1{
    display: flex;
    flex-wrap: wrap;
    width: 90px;
    bottom: 50px;
    left: 110px;
}
.pattern1 div{
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 100%;
    margin: 3px;
}
.pattern2{
    display: flex;
    flex-wrap: wrap;
    width: 90px;
    bottom: 350px;
    right: 110px;
}
.pattern2 div{
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 100%;
    margin: 3px;
}

#menu{
    display: none;
}

@media only screen and (max-width: 800px ){

    nav{
        position: absolute;
        top: 100%;
        background: #03050C;
        height: 100vh;
        width: 80%;
        /* display: none; */
        transform: translate(-815px);
    }

    .open{
        transform: translate(-15px);
        transition: transform 1s ease-in-out;
    }

    #menu{
        display: block;
        padding: 12px 20px;
        border: none;
        outline: none;
        cursor: pointer;
    }


    #hero-section{
        background: linear-gradient(to bottom, #3144AA , #3078C4);
    }
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        position: fixed;
        z-index: 1000;
        width: 100%;
        background: #3144AA;
    }
    
    header nav li a{
        /* border: 1px solid red; */
        color: white;
        font-size: 11px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: block;
    }
    
    header img{
        /* border: 1px solid red; */
    }
    
    header nav li{
        /* border: 1px solid red; */
        display: block;
        margin: 19px;
    }
    
    header nav li:last-child > a{
        background: white;
        color: #3144AA ;
        padding: 15px;
        font-weight: 500;
        border-radius: 0px;
    }
    
    .hero-section__container{
        /* border: 1px solid red; */
        display: flex;
        padding: 150px 20px;
        flex-direction: column-reverse;
    }

        /* Hero Container */
    

    
        .hero-section__container--left{
            width: 100%;
            z-index: 1;
            /* border: 1px solid red; */
        }
        
        .hero-section__container--left small{
            color: white;
            opacity: 0.5;
            font-size: 11px;
            
        }
        
        .hero-section__container--left small::before{
            content: "";
            margin-right: 10px;
            border-left: 2px solid white;
            opacity: 0.5;
            font-size: 11px;
        }
        
        .hero-section__container--left h1{
            color: white;
            font-size: 32px;
            line-height: 55px;
            margin: 20px 0px;
        }
        .hero-section__container--left p{
            color: white;
            opacity: 0.8;
            font-size: 11px;
            width: 100%;
            letter-spacing: 2px;
            line-height: 22px;
        }
        .hero-section__container--left button{
            z-index: 10;
            color: #3E3E3E;
            border: none;
            outline: none;
            cursor: pointer;
            margin-top: 25px;
            padding: 15px 15px;
            border-radius: 25px;
            font-weight: 500;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 170px;
            /* border: 1px solid red; */
        }
        
        .hero-section__container--right{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* position: relative; */
        }
        
        .hero-section__container--right img{
            position: relative;
            width: 220px;
            height: 220px;
            /* border: 1px solid red; */
        }
        
        /* pattern */
        
        .pattern_container .pattern{
            position: absolute;
            z-index: 0;
        }
        
        .pattern1{
            display: flex;
            flex-wrap: wrap;
            width: 90px;
            bottom: 50px;
            left: 110px;
        }
        .pattern1 div{
            width: 5px;
            height: 5px;
            background: white;
            border-radius: 100%;
            margin: 3px;
        }
        .pattern2{
            display: flex;
            flex-wrap: wrap;
            width: 90px;
            bottom: 350px;
            right: 110px;
        }
        .pattern2 div{
            width: 5px;
            height: 5px;
            background: white;
            border-radius: 100%;
            margin: 3px;
        }
        
    
    
}

@media (min-width: 660px ) and (max-width: 950px){
    .hero-section__container{
        /* border: 1px solid red; */
        display: flex;
        padding: 150px 20px;
        flex-direction: column-reverse;
    }

        /* Hero Container */
    

    
        .hero-section__container--left{
            width: 100%;
            z-index: 1;
            /* border: 1px solid red; */
        }
        
        .hero-section__container--left small{
            color: white;
            opacity: 0.5;
            font-size: 11px;
            
        }
        
        .hero-section__container--left small::before{
            content: "";
            margin-right: 10px;
            border-left: 2px solid white;
            opacity: 0.5;
            font-size: 11px;
        }
        
        .hero-section__container--left h1{
            color: white;
            font-size: 32px;
            line-height: 55px;
            margin: 20px 0px;
        }
        .hero-section__container--left p{
            color: white;
            opacity: 0.8;
            font-size: 11px;
            width: 100%;
            letter-spacing: 2px;
            line-height: 22px;
        }
        .hero-section__container--left button{
            z-index: 10;
            color: #3E3E3E;
            border: none;
            outline: none;
            cursor: pointer;
            margin-top: 25px;
            padding: 15px 15px;
            border-radius: 25px;
            font-weight: 500;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 170px;
            /* border: 1px solid red; */
        }
        
        .hero-section__container--right{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* position: relative; */
        }
        
        .hero-section__container--right img{
            position: relative;
            width: 220px;
            height: 220px;
            /* border: 1px solid red; */
        }
        
        /* pattern */
        
        .pattern_container .pattern{
            position: absolute;
            z-index: 0;
        }
        
        .pattern1{
            display: flex;
            flex-wrap: wrap;
            width: 90px;
            bottom: 50px;
            left: 110px;
        }
        .pattern1 div{
            width: 5px;
            height: 5px;
            background: white;
            border-radius: 100%;
            margin: 3px;
        }
        .pattern2{
            display: flex;
            flex-wrap: wrap;
            width: 90px;
            bottom: 350px;
            right: 110px;
        }
        .pattern2 div{
            width: 5px;
            height: 5px;
            background: white;
            border-radius: 100%;
            margin: 3px;
        }
        
    

}

@media only screen and (min-width: 950px ){
    .hero-section__container{
        padding: 150px 10px;
        /* border: 1px solid red; */
        max-width: 950px;
        margin: auto;
    }
}